section {
  padding: 20px;
}
header {
  margin-bottom: 20px;
  border-bottom: 2px dotted black;
}
h2{
  text-align: center;
}
#addbtn{
  background-color: #7FFFD4;
  color: #000;
  padding: 8px 18px;
  border-radius: 10px;
}
