/*
body{
    background-image: url(../img/krsna.jpg);
    background-repeat: repeat;
    background-color: #cccccc;
}
*/
body {
/*  height: 100%;*/
  display: block;
/*  position: relative;*/
}

body::after {
  content: "";
  /* background: url(../img/krsna.jpg); */
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
section {
  padding: 20px;
}
header {
  margin-bottom: 20px;
  border-bottom: 2px dotted black;
}
h2{
  text-align: center;
}
.content {
  clear: both;
}
.content .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-primary a {
  color: white;
}
h2,form{
  text-align: center;
}
#loginbtn{
  margin: 10px 45PX 0px 310px;
  font: initial;
  background-color: antiquewhite;
  border-radius: 7px;
}
#implinks{
  text-align: center;
  padding-top: 25px;
}
#implinks a{
  padding-right: 30px;
  color: black;
  font-size: 20px;
}

.glyphicon {
  font-size: 25px;
  color: black;
  cursor: pointer;
}

a.glyphicon:hover {
  text-decoration: none;
}

.content .glyphicon {
  margin-left: 15px;
}

.content .container-fluid {
  margin-bottom: 10px;
}

.content .pull-right button {
  margin-bottom: 10px;
  margin-right: 15px;
}

#logoutbtn{
  float: right;
  margin: -40px 15px 0px 0px;
/*  border: none;*/
/*  padding: 4px 12px!important;*/
  color: black;
}

.modal .modal-title {
  float: left;
}

.sprite {
  background-image: url(../img/Sprite.png);
  background-repeat: no-repeat;
  background-position: -240px -233px;
  background-color: transparent;
  height: 33px;
  width: 32px;
  z-index: 999;
  border: 0;
  padding: 0;
  float: right;
  cursor: pointer;
  outline: 0;
}

.disabled * {
  disabled: disabled;
}
