body {
/*  width: 200px;*/
/*  height: 200px;*/
  height: 100%;
  display: block;
/*  position: relative;*/
}

body::after {
  content: "";
  background: url(../img/krsna.jpg);
  background-size: cover;
/*  background-attachment: fixed;*/
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
h3{
  text-align: center;
  margin-top: -20px;
  margin-bottom: 45px;
}
.glyphicon.glyphicon-home {
  font-size: 25px;
  padding-left: 21px;
  margin-top: 11px;
  color: black;
}
form div{
  font-weight: 700;
}
form div input{
  margin-bottom: 10px;
}
