# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

#Login APIs
RewriteRule ^login/check/loggedin/$   login-api/RestController.php?page_key=checkloggedin [nc,qsa]
RewriteRule ^login/check/loggedin$    login/check/loggedin/ [L]

RewriteRule ^login/check/superadmin/$   login-api/RestController.php?page_key=checksuperadmin [nc,qsa]
RewriteRule ^login/check/superadmin$    login/check/superadmin/ [L]

#Member APIs
# map neat URL to internal URL
RewriteRule ^member/list/([0-9]+)$   member-api/RestController.php?page_key=list&id=$1 [nc,qsa]
RewriteRule ^member/list$   member-api/RestController.php?page_key=list [nc,qsa]

RewriteRule ^member/corresponderlist$   member-api/RestController.php?page_key=corresponderlist [nc,qsa]
RewriteRule ^member/connectedlist$   member-api/RestController.php?page_key=connectedlist [nc,qsa]
RewriteRule ^member/categorySearch$   member-api/RestController.php?page_key=categorySearch [nc,qsa]
RewriteRule ^member/dueReport$   member-api/RestController.php?page_key=dueReport [nc,qsa]
RewriteRule ^member/schemelist$   member-api/RestController.php?page_key=schemelist [nc,qsa]
RewriteRule ^member/connectedTolist$   member-api/RestController.php?page_key=connectedTolist [nc,qsa]

RewriteRule ^member/create/$   member-api/RestController.php?page_key=create [L]
RewriteRule ^member/create$    member/create/ [L]

RewriteRule ^member/delete/([0-9]+)/$   member-api/RestController.php?page_key=delete&id=$1 [L]
RewriteRule ^member/delete([0-9]+)$     member/delete/$1 [L]

RewriteRule ^member/update/([0-9]+)/$   member-api/RestController.php?page_key=update&id=$1 [L]
RewriteRule ^member/update/([0-9]+)$    member/update/$1/ [L]

#Admin APIs
RewriteRule ^admin/list/([0-9]+)$   admin-api/RestController.php?page_key=list&id=$1 [nc,qsa]
RewriteRule ^admin/list$   admin-api/RestController.php?page_key=list [nc,qsa]

RewriteRule ^admin/create/$   admin-api/RestController.php?page_key=create [L]
RewriteRule ^admin/create$    admin/create/ [L]

RewriteRule ^admin/delete/([0-9]+)/$   admin-api/RestController.php?page_key=delete&id=$1 [L]
RewriteRule ^admin/delete([0-9]+)$     admin/delete/$1 [L]

RewriteRule ^admin/update/([0-9]+)/$   admin-api/RestController.php?page_key=update&id=$1 [L]
RewriteRule ^admin/update/([0-9]+)$    admin/update/$1/ [L]

#Payment APIs
RewriteRule ^payment/list/([0-9]+)$   payment-api/RestController.php?page_key=list&member_id=$1 [nc,qsa]
RewriteRule ^payment/list$   payment-api/RestController.php?page_key=list [nc,qsa]

RewriteRule ^payment/report/([0-9]+)$   payment-api/RestController.php?page_key=report&member_id=$1 [nc,qsa]
RewriteRule ^payment/report$   payment-api/RestController.php?page_key=report [nc,qsa]

RewriteRule ^payment/create/([0-9]+)/$   payment-api/RestController.php?page_key=create&member_id=$1 [L]
RewriteRule ^payment/create/([0-9]+)$    payment/create/$1/ [L]

RewriteRule ^payment/delete/([0-9]+)/$   payment-api/RestController.php?page_key=delete&member_id=$1 [L]
RewriteRule ^payment/delete/([0-9]+)$     payment/delete/$1/ [L]

RewriteRule ^payment/update/([0-9]+)/$   payment-api/RestController.php?page_key=update&member_id=$1 [L]
RewriteRule ^payment/update/([0-9]+)$    payment/update/$1/ [L]

#BTG APIs
RewriteRule ^btg/list/([0-9]+)$   btg-api/RestController.php?page_key=list&member_id=$1 [nc,qsa]
RewriteRule ^btg/list$   btg-api/RestController.php?page_key=list [nc,qsa]

RewriteRule ^btg/create/([0-9]+)/$   btg-api/RestController.php?page_key=create&member_id=$1 [L]
RewriteRule ^btg/create/([0-9]+)$    btg/create/$1/ [L]

RewriteRule ^btg/delete/([0-9]+)/$   btg-api/RestController.php?page_key=delete&member_id=$1 [L]
RewriteRule ^btg/delete/([0-9]+)$     btg/delete/$1/ [L]

RewriteRule ^btg/update/([0-9]+)/$   btg-api/RestController.php?page_key=update&member_id=$1 [L]
RewriteRule ^btg/update/([0-9]+)$    btg/update/$1/ [L]

#Gift APIs
RewriteRule ^gift/list/([0-9]+)$   gift-prasadam-api/RestController.php?page_key=list&type=gift&member_id=$1 [nc,qsa]
RewriteRule ^gift/list$   gift-prasadam-api/RestController.php?page_key=list&type=gift [nc,qsa]

RewriteRule ^gift/create/([0-9]+)/$   gift-prasadam-api/RestController.php?page_key=create&type=gift&member_id=$1 [L]
RewriteRule ^gift/create/([0-9]+)$    gift/create/$1/ [L]

RewriteRule ^gift/delete/([0-9]+)/$   gift-prasadam-api/RestController.php?page_key=delete&type=gift&member_id=$1 [L]
RewriteRule ^gift/delete/([0-9]+)$     gift/delete/$1/ [L]

RewriteRule ^gift/update/([0-9]+)/$   gift-prasadam-api/RestController.php?page_key=update&type=gift&member_id=$1 [L]
RewriteRule ^gift/update/([0-9]+)$    gift/update/$1/ [L]

#Prasadam APIs
RewriteRule ^prasadam/list/([0-9]+)$   gift-prasadam-api/RestController.php?page_key=list&type=prasadam&member_id=$1 [nc,qsa]
RewriteRule ^prasadam/list$   gift-prasadam-api/RestController.php?page_key=list&type=prasadam [nc,qsa]

RewriteRule ^prasadam/create/([0-9]+)/$   gift-prasadam-api/RestController.php?page_key=create&type=prasadam&member_id=$1 [L]
RewriteRule ^prasadam/create/([0-9]+)$    prasadam/create/$1/ [L]

RewriteRule ^prasadam/delete/([0-9]+)/$   gift-prasadam-api/RestController.php?page_key=delete&type=prasadam&member_id=$1 [L]
RewriteRule ^prasadam/delete/([0-9]+)$     prasadam/delete/$1/ [L]

RewriteRule ^prasadam/update/([0-9]+)/$   gift-prasadam-api/RestController.php?page_key=update&type=prasadam&member_id=$1 [L]
RewriteRule ^prasadam/update/([0-9]+)$    prasadam/update/$1/ [L]

#Followup APIs
RewriteRule ^followup/list/([0-9]+)$   followup-api/RestController.php?page_key=list&member_id=$1 [nc,qsa]
RewriteRule ^followup/list$   followup-api/RestController.php?page_key=list [nc,qsa]

RewriteRule ^followup/create/([0-9]+)/$   followup-api/RestController.php?page_key=create&member_id=$1 [L]
RewriteRule ^followup/create/([0-9]+)$    followup/create/$1/ [L]

RewriteRule ^followup/delete/([0-9]+)/$   followup-api/RestController.php?page_key=delete&member_id=$1 [L]
RewriteRule ^followup/delete/([0-9]+)$     followup/delete/$1/ [L]

RewriteRule ^followup/update/([0-9]+)/$   followup-api/RestController.php?page_key=update&member_id=$1 [L]
RewriteRule ^followup/update/([0-9]+)$    followup/update/$1/ [L]
